tr.c-rows
{
  height: 50px !important;
}
.ta-danger
{
  background-color: #f2dede;
  font-weight: bold;
}

.ta-info
{
  background-color: #d9edf7;
}

.ta-warning
{
  background-color: #fcf8e3;
}

.ta-new
{
  font-weight: bold;
}

tr.c-rows.ta-danger:hover
{
  background-color: #FA5F5F;
}

tr.c-rows.ta-info:hover
{
  background-color: #469AF9;
}

tr.c-rows.ta-warning:hover
{
  background-color: #F9D646;
}
tr.c-rows.ta-new:hover
{
  background-color: #EFF0F0;
}
